.navbar {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 15px 0;
	transition: all .35s ease;
	&.affix {
		background: $white;
		padding: 0;
		box-shadow: 0 2px 10px rgba(0,0,0,.2);
		.nav {
			li {
				a {
					color: $gray-light;
					&.bordered {
						border-color: $gray-light;
					}
				}
			}
		}
	}
	.navbar-brand {
		font-size: 1.35em;
		height: 70px;
		padding: 25px 15px;
		color: $brand-danger;
		font-weight: 500;
		letter-spacing: -1px;

		&:hover, &:focus {
			color: $gray-lighter;
		}
	}

	.nav {
		padding: 15px 0;
		li {
			a {
				padding: 8px 15px;
				font-size: 13px;
				color: #fff;
				transition: all .35s ease;
				&.bordered {
					border: 1px solid $white;
					border-radius: 5px;

					&:hover, &:focus {
						background: $white;
					}
				}
			}
		}
	}
}

.button-menu {
	display: inline-block;
	padding: 10px 0;
	margin: 15px 0;
	margin-right: 15px;
	background: transparent;
	border: 0;
	float: right;
	.line {
		position: relative;
		width: 35px;
		height: 2px;
		background: $white;
		transition: all .35s;

		&::before, &::after {
			content: "";
			position: absolute;
			height: 2px;
			background: $white;
			transition: all .35s;
		}

		&::before {
			left: 0;
			top: -10px;
			width: 30px;
		}

		&::after {
			right: 10px;
			bottom: -10px;
			width: 25px;
		}
	}

	&:focus {
		outline: none;
	}

	&.active {
		.line {
			background: transparent !important;

			&::before {
				width: 35px;
				top: 0;
				transform: rotate(45deg);
			}

			&::after {
				width: 35px;
				top: 0;
				right: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

.affix {
	.button-menu {
		.line {
			background: $brand-danger;
			&::before, &::after {
				background: $brand-danger;
			}
		}
	}
}
