body {
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	line-height: 1.15;
	color: $text-color;
	background: $body-bg;
}

a {
	&:hover, &:focus {
		text-decoration: none;
	}
}

.text-primary {
	color: $brand-primary;
}
.text-info {
	color: $brand-info;
}
.text-success {
	color: $brand-success;
}
.text-warning {
	color: $brand-warning;
}
.text-danger {
	color: $brand-danger;
}